
<ng-container *ngIf="product">
    <div class="container-fluid">
        <ng-container *ngIf="auth.isAuthenticated && auth.role == 'ADMIN'">
            <div class="options">
                <a [routerLink]="['/edit-product', product.product_id]">
                    <span class="material-icons">edit</span>
                    Edytuj
                </a>
                <a [routerLink]="['/delete-product', product.product_id]">
                    <span class="material-icons">delete</span>
                    Usuń
                </a>
            </div>  
        </ng-container>     
        <div class="row">
            <div class="col-lg-4">
                <div class="img">
                    <img src="../../../../assets/img/product-full/{{product.product_mark}}-{{product.product_type}}-517-433.jpg" alt="product">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <div class="description">
                            {{product.product_description}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="spec-short">
                            <p>Procesor: <span>{{product.product_processor}}</span></p>
                            <p>Pamięć: <span>{{product.product_ram_size}}GB</span></p>    
                            <p>Grafika: <span>{{product.product_graphics_card}}</span></p>    
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cart-box">
                            <div class="price">
                                <p>{{product.product_price}} zł</p>
                            </div>
                            <div class="form">
                                 <form [formGroup]="addProductForm">        
                                     <div class="form-group select-btn">
                                         <label>Ilość:</label>
                                         <select class="form-control" [(ngModel)]="amount" formControlName="amount">
                                             <option value="1">1</option>
                                             <option value="2">2</option>
                                             <option value="3">3</option>
                                             <option value="4">4</option>
                                             <option value="5">5</option>
                                             <option value="6">6</option>
                                         </select>
                                     </div>
                                        <a  type="button" class="btn btn-success" (click)='addToCart(product)'>
                                            <span class="material-icons">add_shopping_cart</span> 
                                            Dodaj do koszyka
                                        </a>
                                 </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row spec-wraper">
            <div class="col-lg-5">
                <div class="spec">
                    <h5>Specyfikacja</h5>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>System operacyjny</td>
                                    <td>{{product.product_system}}</td>
                                </tr>
                                <tr>
                                    <td>Procesor</td>
                                    <td>{{product.product_processor}}</td>
                                </tr>
                                <tr>
                                    <td>Pamięć RAM</td>
                                    <td>{{product.product_ram_size}}GB</td>
                                </tr>
                                <tr>
                                    <td>Rodzaj dysku</td>
                                    <td>{{product.product_disc_type}}</td>
                                </tr>
                                <tr>
                                    <td>Rozmiar dysku</td>
                                    <td>{{product.product_disc_size}}GB</td>
                                </tr>
                                <tr>
                                    <td>Grafika</td>
                                    <td>{{product.product_graphics_card}}</td>
                                </tr>
                                <tr>
                                    <td>Przekątna ekranu</td>
                                    <td>{{product.product_screen_diagonal}}"</td>
                                </tr>
                            </tbody>
                          </table>
                </div>  
            </div>
            <div class="col-lg-7">
                <div class="logo">
                    <img src="../../../../assets/img/logo/{{product.product_mark}}.png">
                </div>
            </div>
        </div>
    </div>

</ng-container>

<box-last-product></box-last-product>


