<div class="navigation-bar-wraper">
    <ul class="nav">
        <div class="navigation-bar-menu">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/home']">
                    <div class="navigation-bar-item">
                        <div class="row">
                            <div class="col-6"><mat-icon aria-label="Side nav toggle icon">home</mat-icon></div>
                            <div class="col-6"><span>Home</span></div>
                        </div>
                    </div>
                </a>
            </li>
        </div>
        <div class="navigation-bar-menu">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/products', 'drones']">
                    <div class="navigation-bar-item">
                        <div class="row">
                            <div class="col-6"><mat-icon aria-label="Side nav toggle icon">sports_esports</mat-icon></div>
                            <div class="col-6"><span>Drony</span></div>
                        </div>
                    </div>
                </a>
            </li>
        </div>
        <div class="navigation-bar-menu">
            <li class="nav-item" routerLinkActive="active">  
                <a class="nav-link" [routerLink]="['/products', 'laptops']">
                    <div class="navigation-bar-item">
                        <div class="row">
                            <div class="col-6"><mat-icon aria-label="Side nav toggle icon">laptop_mac</mat-icon></div>
                            <div class="col-6"><span>Laptopy</span></div>
                        </div>
                    </div>
                </a>
            </li>
        </div>
        <div class="navigation-bar-menu">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link"[routerLink]="['/products', 'smartphones']">
                    <div class="navigation-bar-item">
                        <div class="row">
                            <div class="col-6"><mat-icon aria-label="Side nav toggle icon">phone_iphone</mat-icon></div>
                            <div class="col-6"><span>Smartfony</span></div>
                        </div>
                    </div>
                </a>
            </li>
        </div>
      </ul>
</div>

