<div class="form" *ngIf="user">
    <ng-container *ngIf="saved">
        <div class="alert alert-success" role="alert">
            Zaoisano!!!
          </div>
    </ng-container>
    <form [formGroup]="roleForm" (submit)="saveUser()">
        <span class="contact100-form-title">
            Edycja użytkownika
        </span>
        <div class="form-group">
            <label class="label-input100" for="role">Uprawnienia</label>
            <select class="form-control" [(ngModel)]='user.user_role' formControlName="user_role" required>
                <option>ADMIN</option>
                <option>USER</option>
            </select>
        </div>
        <input *ngIf="!saved" value="Zapisz" type="submit"  class="btn btn-success">
        <a *ngIf="saved"  class="btn btn-success" [routerLink]="['/user', user.user_id]">Powrót</a>
    </form>
</div>