<div class="form" *ngIf="user">
    <ng-container *ngIf="saved">
        <div class="alert alert-success" role="alert">
            Zaoisano!!!
          </div>
    </ng-container>
    <form class="contact100-form" [formGroup]="roleForm" (submit)="saveUser()">
        <span class="contact100-form-title">
            Edycja użytkownika
        </span>
        <div class="form-group wrap-input100 rs1-wrap-input100">
            <label class="label-input100" for="role">Uprawnienia</label>
            <select class="form-control" [(ngModel)]='user.user_role' formControlName="user_role" required>
                <option>ADMIN</option>
                <option>USER</option>
            </select>
        </div>
        <input *ngIf="!saved" value="zapisz" type="submit"  class="btn btn-danger input100-submit">
        <a *ngIf="saved"  class="btn btn-success input100-ok" [routerLink]="['/user', user.user_id]">powrót</a>
    </form>
</div>