<ng-container *ngIf="!sent">

    <ng-container *ngIf="valid">
        <div class="alert alert-danger" role="alert">
        Wypełnij poprawnie wszystkie pola
        </div>
    </ng-container>

    <form [formGroup]="remindPasswordForm" (submit)="resetPassword()">
        <h4>Resetuj hasło</h4>

        <div class="form-group">
            <label for="Name">Email</label>

            <input type="text" class="form-control" formControlName="email">

            <div class="validation-feedback" *ngIf="remindPasswordForm.get('email').touched || remindPasswordForm.get('email').dirty">
    
                <div *ngIf="remindPasswordForm.get('email').hasError('required')">
                    Pole jest wymagane
                </div>

                <div *ngIf="remindPasswordForm.get('email').hasError('email')">
                    Niepoprawny email
                </div>

            </div>

        </div>

        <input type="submit" value="zresetuj hasło" class="btn btn-danger">
    </form>
</ng-container>
            

<ng-container *ngIf="sent">
    <div class="alert alert-success" role="alert">
        <h4>Jeśli podany użytkownik istnieje. Wysłaliśmy link do resetu hasła.</h4>
        <h4>Sprawdź swoją pocztę :)</h4>
        <p>Link po <strong>10 minutach</strong> wygasa</p>
      </div>
</ng-container>