.validation-feedback {
    color: red;
  }

.container-fluid{
  margin-bottom: 60px;
}

.form-wraper{
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
  }

.msg{
  font-size: 12px;
}

h4 {
  font-size: 22px;
}

p{
  font-size: 16px;
}

@media (max-width: 767px){
  .form-wraper{
    width: 100%;
  }

  h4 {
    font-size: 16px;
  }
  
  p{
    font-size: 12px;
  }

}