.validation-feedback {
    color: red;
  }

.container-fluid{
  margin-bottom: 60px;
}

.form-wraper{
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;
  }

.msg{
  font-size: 12px;
}

@media (max-width: 767px){
  .form-wraper{
    width: 100%;
  }
}