<ng-container *ngIf="auth.isAuthenticated">

    <ng-container *ngIf="!remove">
        <p>
            Czy napewo chcesz usunąć wybrany product?
        </p>
        
        <a class="btn btn-success" href="/#/smartphone/{{id}}">Nie</a>
        <button type="button" class="btn btn-danger" (click)="delete()">Tak</button>
    </ng-container>

    <ng-container *ngIf="remove">
        <div class="alert alert-success" role="alert">
            Usunięto
          </div>
        <a class="btn btn-success" href="/#/smartphones">Ok</a>
    </ng-container>
</ng-container>
