.wraper{
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid rgba(77, 77, 77, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
}

@media (max-width: 833px){
    .wraper{
        width: 100%;
    }
}

h3{
    margin-bottom: 30px;
}

.option{
    margin-bottom: 10px;
}

.option a {
    color: #4d4d4d;
}

.option a:hover{
    color: green;
    text-decoration: none;
}

.item{
    width: 100%;
    margin: 10px;
}

.item a{
    color: #000000;
    text-decoration: none;   
   }
   
   .item a:hover{
   color: green;
   }
   
   .my-card-body p{
   margin: 0;
   }
   
   .my-card-body h5{
       margin-top: 20px;
       }
   
   .card{
       padding: 6px;
   }
   
   .card:hover{
       border: 1px solid green;
   }
   