<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="wraper">
                <ng-container *ngIf="auth.isAuthenticated && auth.role == 'ADMIN'">
                    <h3>Panel administracyjny</h3>
                    <div class="option">
                        <a [routerLink]="['/zamowienia-admin']">
                            <span _ngcontent-oye-c197="" class="material-icons">assignment</span>
                            Zamówienia 
                        </a>
                    </div>
                    <div class="option">
                        <a [routerLink]="['/panel-administracyjny-produkty']">
                            <span _ngcontent-oye-c197="" class="material-icons">devices_other</span>
                            Produkty 
                        </a>
                    </div>
                    <div class="option">
                        <a [routerLink]="['/users']">
                            <span _ngcontent-oye-c197="" class="material-icons">people</span>
                            Użytkownicy 
                        </a>
                    </div>                
                </ng-container>
                
                <ng-container *ngIf="!auth.isAuthenticated || (auth.isAuthenticated && auth.role != 'ADMIN')">
                    <h4>Brak uprawnień</h4>
                </ng-container>
            </div>
        </div>
    </div>
</div>
