<ng-container *ngIf="auth.isAuthenticated && auth.role == 'ADMIN'">
    <h3>Panel administracyjny</h3>

<div class="row">
    <div class="col-4">
        <div class="item">
            <a [routerLink]="['/zamowienia-admin']">
                <div class="card" style="width: 12rem;">
                    <img src="../../../assets/img/order.png" class="card-img-top" alt="order">
                    <div class="card-body my-card-body">
                        <h4 class="card-title">Zamówienia</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-4">
        <div class="item">
            <a [routerLink]="['/panel-administracyjny-produkty']">
                <div class="card" style="width: 12rem;">
                    <img src="../../../assets/img/product.png" class="card-img-top" alt="product">
                    <div class="card-body my-card-body">
                        <h4 class="card-title">Produkty</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-4">
        <div class="item">
            <a [routerLink]="['/users']">
                <div class="card" style="width: 12rem;">
                    <img src="../../../assets/img/users.png" class="card-img-top" alt="users">
                    <div class="card-body my-card-body">
                        <h4 class="card-title">Użytkownicy</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>

</ng-container>

<ng-container *ngIf="!auth.isAuthenticated || (auth.isAuthenticated && auth.role != 'ADMIN')">
    <h4>Brak uprawnień</h4>
</ng-container>