<h2>Koszyk</h2>
<ng-container *ngIf="!isEmpty">
  <button class="btn btn-danger" (click)="removeCartInLocalStorage()">usuń wszystko</button>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">lp</th>
        <th scope="col">produkt</th>
        <th scope="col">cena</th>
        <th scope="col">ilość</th>
        <th scope="col">razem</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of cartList let i = index;">
        <th scope="row">{{i+1}}</th>
        <td><a [routerLink]="['/product', product.product.product_id]">{{product.product.product_mark}}</a></td>
        <td>{{product.product.product_price}} zł</td>
        <td>{{product.amount}}</td>
        <td>{{product.product.product_price * product.amount}} zł</td>
        <td>
          <ng-container *ngIf="!auth.isAuthenticated">
            <button class="btn btn-danger" (click)="deleteCartItemInLocalStorage(i)">usuń</button>
          </ng-container>
  
          <ng-container *ngIf="auth.isAuthenticated">
            <button class="btn btn-danger" (click)="deleteCartItemInDatabase(product.product.product_id, i)">usuń z bazy</button>
          </ng-container>
        </td>
  
        
      </tr>
    </tbody>
  </table>
  <div style="margin-bottom: 10px;">
    razem do zapłaty: {{cartSum}} zł
    <button class="btn btn-success">zamów</button>
</div>
</ng-container>

<ng-container *ngIf="isEmpty">
  <h2>Pusty</h2>
</ng-container>