<ng-container *ngIf="auth.isAuthenticated">
    <div *ngIf="profile">
    <a class="btn btn-secondary" [routerLink]="['/edit-profile', profile.user_id]">Edytuj dane adresowe</a> 
    <a class="btn btn-danger" [routerLink]="['/zmiana-hasla']">zmień hasło</a>
        <dl class="row">
            <dt class="col-3">email</dt>
            <dd class="col-9">{{profile.user_email}}</dd>
            <dt class="col-3">imię</dt>
            <dd class="col-9">{{profile.user_firstName}}</dd>
            <dt class="col-3">nazwisko</dt>
            <dd class="col-9">{{profile.user_lastName}}</dd>
            <dt class="col-3">numer tel</dt>
            <dd class="col-9">{{profile.user_phoneNumber}}</dd>
            <dt class="col-3">kod pocztowy</dt>
            <dd class="col-9">{{profile.user_zipCode}}</dd>
            <dt class="col-3">miasto</dt>
            <dd class="col-9">{{profile.user_city}}</dd>
            <dt class="col-3">ulica</dt>
            <dd class="col-9">{{profile.user_street}}</dd>
        </dl>    
</div>
</ng-container>

<ng-container *ngIf="!auth.isAuthenticated">
    <div class="alert alert-warning" role="alert">
        <h3>Nie jesteś zalogowany</h3>
        <button class="btn btn-info" [routerLink]="['/login']">Zaloguj</button>
      </div>
  </ng-container>