
.recomend img {
    padding-top: 40px;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.recomend-header, .promotion-header {
    padding-top: 10px;
    padding-left: 30px;
    color: #4d4d4d;
}

.recomend-price{
    text-align: center;
}

.recomend .wrap:hover{
    border: 1px solid rgba(77, 77, 77, 0.3);
    border-radius: 25px;
}

.recomend .wrap .content{
    position: relative;   
}

.recomend .wrap .content{
    position: absolute;
    bottom: 1px;
}


.recomend .wrap a {
    color: #4d4d4d;
}
.content {
    width: 90%;
    margin: 0 auto;
}

.promotion-img{
    margin: 0 auto;
}

.promotion-desc, .promotion-price{
    width: 100%;
    text-align: center;
}

.promotion-price{
    padding-top: 40px;
}

.promotion-price .before{
    font-size: 18px;
    text-decoration: line-through;
}

.promotion-price .after{
    font-size: 24px;
    color: #f70164;
}

.promo-wrap{
    height: 800px;
    margin: 40px;
    border: 1px solid #f70164;
    border-radius: 25px;
}

.promo-wrap:last-child  {
    border-top: 1px solid black;
}

.promo-item{
    margin-top: 30px;
}

.promo-item:last-child{
    margin-left: 10px;
    margin-right: 10px;
    border-top: 1px solid rgba(77, 77, 77, 0.2);
}

.promo-item a {
    text-decoration: none;
    color: #8c8c8c;
}

.promo-item a:hover{
    color: #404040;
}
/* .product a{
    color: #000000;
    text-decoration: none;   
   }
   
   .product a:hover{
   color: green;
   }
   
   .product{
       margin: 10px;
       min-width: 260px;
   }
   
   .my-card-body p{
   margin: 0;
   }
   
   .my-card-body h5{
       margin-top: 20px;
       }
   
   .card{
       padding: 10px;
   }
   
   .card:hover{
       border: 1px solid green;
   } */