
<ng-container *ngIf="auth.isAuthenticated && auth.role == 'ADMIN'">
    <div class="alert alert-danger" *ngIf="error">{{error}}</div>

    <div class="alert alert-success" role="alert" *ngIf="saved">
        Zmiany zostały zapisane
      </div>
    
    <div class="form" *ngIf='editedSmartphone'>
        <form class="contact100-form" [formGroup]="editSmartphoneForm" (submit)="saveSmartphone()">
            <span class="contact100-form-title">
                Edycja smartfona
            </span>
            <div class="form-group wrap-input100 rs1-wrap-input100">
                <label class="label-input100" for="Name">Producent</label>
                <select class="input100" class="form-control" [(ngModel)]="editedSmartphone.smartphone_mark" formControlName="smartphone_mark">
                    <option>Samsung</option>
                    <option>Apple</option>
                    <option>Huawei</option>
                    <option>Sony</option>
                    <option>Nokia</option>
                    <option>Xiaomi</option>
                    <option>LG</option>
                    <option>HTC</option>
                </select>
            </div>
        
            <div class="form-group wrap-input100 rs1-wrap-input100">
                <label class="label-input100" for="Price">Cena</label>
                <input class="input100" type="text" class="form-control"[(ngModel)]="editedSmartphone.smartphone_price" formControlName="smartphone_price">
            </div>
        
            <div class="form-group wrap-input100 rs1-wrap-input100">
                <label class="label-input100" for="Status">Status</label>
                <select class="input100" class="form-control" [(ngModel)]="editedSmartphone.smartphone_status" formControlName="smartphone_status">
                    <option>promocja</option>
                    <option>wyprzedaż</option>
                    <option>nowość</option>
                    <option>polecamy</option>
                    <option>przedłużona gwarancja</option>
                </select>
            </div>
        
            <div class="form-group wrap-input100 rs1-wrap-input100">
                <label class="label-input100" for="System">System operacyjny</label>
                <select class="input100" class="form-control" [(ngModel)]="editedSmartphone.smartphone_system" formControlName="smartphone_system">
                    <option>Android</option>
                    <option>iOs</option>
                </select>
            </div>
        
            <div class="form-group wrap-input100 rs1-wrap-input100">
                <label class="label-input100" for="ScreenDiagonal">Przekątna ekranu</label>
                <select class="input100" class="form-control" [(ngModel)]="editedSmartphone.smartphone_screen_diagonal" formControlName="smartphone_screen_diagonal">
                    <option>4</option>
                    <option>4.7</option>
                    <option>5.7</option>
                    <option>6</option>
                    <option>6.7</option>
                </select>
            </div>
        
            <div class="form-group wrap-input100 rs1-wrap-input100">
                <label class="label-input100" for="DyskSize">Rozmiar dysku</label>
                <select class="input100" class="form-control" [(ngModel)]="editedSmartphone.smartphone_disc_size" formControlName="smartphone_disc_size">
                    <option>8</option>
                    <option>16</option>
                    <option>32</option>
                    <option>64</option>
                    <option>128</option>
                    <option>256</option>
                    <option>512</option>
                </select>
            </div>
        
            <div class="form-group wrap-input100 rs1-wrap-input100">
                <label class="label-input100" for="Ram">Pamięć RAM</label>
                <select class="input100" class="form-control" [(ngModel)]="editedSmartphone.smartphone_ram_size" formControlName="smartphone_ram_size">
                    <option>2</option>
                    <option>4</option>
                    <option>6</option>
                    <option>8</option>
                    <option>16</option>
                    <option>32</option>
                </select>
            </div>
        
            <div class="form-group wrap-input100 rs1-wrap-input100">
                <label class="label-input100" for="CameraResolution">Roździelczość kamery</label>
                <select class="input100" class="form-control" [(ngModel)]="editedSmartphone.smartphone_camera_resolution" formControlName="smartphone_camera_resolution">
                    <option>7</option>
                    <option>8</option>
                    <option>13</option>
                    <option>16</option>
                    <option>19</option>
                    <option>20</option>
                </select>
            </div>
        
            <div class="form-group wrap-input100 rs1-wrap-input100">
                <label class="label-input100" for="Amount">Dostępna ilość</label>
                <input class="input100" type="text" class="form-control" [(ngModel)]="editedSmartphone.smartphone_amount_available" formControlName="smartphone_amount_available">
            </div>
            
            <div class="form-group wrap-input100">
                <label class="label-input100" for="Descripton">Opis</label>
                <textarea class="input100" rows="4" cols="50" class="form-control" [(ngModel)]="editedSmartphone.smartphone_description" formControlName="smartphone_description"> </textarea>
            </div>

            <input *ngIf="!saved" type="submit" class="btn btn-danger" value="zapisz">
        <a *ngIf="saved" class="btn btn-success" [routerLink]="['/smartphones']">powrót</a>
        </form>
        
    </div>

</ng-container>



