<div class="container-fluid">
    <div class="row wraper">
        <div class="col-sm-4">
            &copy; x-tom 2020
        </div>
        <div class="col-sm-8">
            <span class="img-wr"> <img src="../../../assets/img/footer/inpost.png" class="img-footer" alt=""></span>
            <span class="img-wr"> <img src="../../../assets/img/footer/dotpay.png" class="img-footer" alt=""></span>
            <span class="img-wr"> <img src="../../../assets/img/footer/mastercard.png" class="img-footer" alt=""></span>
            <span class="img-wr"> <img src="../../../assets/img/footer/ups.png" class="img-footer" alt=""></span>
            <span class="img-wr"> <img src="../../../assets/img/footer/pko.png" class="img-footer" alt=""></span>
            <span class="img-wr"> <img src="../../../assets/img/footer/visa.png" class="img-footer" alt=""></span>
            <span class="img-wr"> <img src="../../../assets/img/footer/santander.png" class="img-footer" alt=""></span>
        </div>
    </div>

</div>
