.smartphone a{
    color: #000000;
    text-decoration: none;   
   }
   
.smartphone a:hover{
   color: green;
   }
   
   .smartphone{
       margin: 10px;
   }

   .card{
    padding: 10px;
}

.card:hover{
    border: 1px solid green;
}