
<ng-container *ngIf="auth.isAuthenticated">
    <a class="btn btn-secondary" href="/#/add-smartphone">Dodaj smartfon</a>
</ng-container>


<div class="row">
    <div *ngFor="let smartphone of smartphoneList">
        <div class="col-4">
            <div class="smartphone">
                <a href="/#/smartphone/{{smartphone.smartphone_id}}">
                    <div class="card" style="width: 12rem;">
                        <h5 class="card-title">{{smartphone.smartphone_mark}}</h5>
                        <img src="../../../assets/img/nokia.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">{{smartphone.smartphone_description}}</p>
                            <p class="card-text">{{smartphone.smartphone_price}} zł</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


