.drone-wraper{
    margin: 0 0 30px 0;
    padding: 20px 0 20px 0;
    border-top: 2px solid rgba(77, 77, 77, 0.2);
    border-bottom: 2px solid rgba(77, 77, 77, 0.2);
    color: #4d4d4d;
}

.drone-wraper .link {
    width: 100%;
    text-align: right;
}

.drone-wraper .img{
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.drone-wraper .content{
    position: absolute;
    bottom: 1px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.drone-wraper .content .description, .drone-wraper .content .price{
    text-align: center;
}

.drone-wraper a{
    color: #808080;
    
}

.drone-wraper .wraper{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.drone-wraper .wraper:hover{
    color: #404040;
}

@media (max-width: 767px){
    .item4, .item3, .item2{
    display: none;
    }
}