  <h2>Polecamy</h2>
  <div class="row">
    <div class="col-3" *ngFor="let product of productsRecomend">
        <div class="product">
            <a [routerLink]="['/product', product.product_id]">
                <div class="card" style="width: 12rem;">
                    <h4 class="card-title">{{product.product_mark}}</h4>
                    <img src="../../../assets/img/drone.jpeg" class="card-img-top" alt="product">
                    <div class="card-body my-card-body">
                        <p class="card-text">kamera: {{product.product_camera}}</p>
                        <p class="card-text">zasięg: {{product.product_range}} m</p>
                        <p class="card-text">czas pracy: {{product.product_time_work}} min</p>
                        <h5 class="card-text">{{product_product_price}} zł</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>

<h2>Promocja</h2>
<div class="row">
    <div class="col-3" *ngFor="let product of productsPromotion">
        <div class="product">
            <a [routerLink]="['/product', product.product_id]">
                <div class="card" style="width: 12rem;">
                    <h4 class="card-title">{{product.product_mark}}</h4>
                    <img src="../../../assets/img/drone.jpeg" class="card-img-top" alt="product">
                    <div class="card-body my-card-body">
                        <p class="card-text">kamera: {{product.product_camera}}</p>
                        <p class="card-text">zasięg: {{product.product_range}} m</p>
                        <p class="card-text">czas pracy: {{product.product_time_work}} min</p>
                        <h5 class="card-text">{{product_product_price}} zł</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>


