.product a{
    color: #000000;
    text-decoration: none;   
   }
   
   .product a:hover{
   color: green;
   }
   
   .product{
       margin: 10px;
       min-width: 260px;
   }
   
   .my-card-body p{
   margin: 0;
   }
   
   .my-card-body h5{
       margin-top: 20px;
       }
   
   .card{
       padding: 10px;
   }
   
   .card:hover{
       border: 1px solid green;
   }