  <h2>Polecamy</h2>
<div class="row">
    <!-- <div class="col-4" *ngFor="let drone of dronesPromotion">
       <div class="product">
                <a [routerLink]="['/drone', drone.drone_id]">
                    <div class="card" style="width: 12rem;">
                        <h4 class="card-title">{{drone.drone_mark}}</h4>
                        <img src="../../../assets/img/drone.jpeg" class="card-img-top" alt="drone">
                        <div class="card-body my-card-body">
                            <p class="card-text">kamera: {{drone.drone_camera}}</p>
                            <p class="card-text">zasięg: {{drone.drone_range}} m</p>
                            <p class="card-text">czas pracy: {{drone.drone_time_work}} min</p>
                            <h5 class="card-text">{{drone.drone_price}} zł</h5>
                        </div>
                    </div>
                </a>
            </div>
    </div> -->

    <div class="col-3">
       <div class="product" *ngFor="let drone of dronesRecomend">
                <a [routerLink]="['/drone', drone.drone_id]">
                    <div class="card" style="width: 12rem;">
                        <h4 class="card-title">{{drone.drone_mark}}</h4>
                        <img src="../../../assets/img/drone.jpeg" class="card-img-top" alt="drone">
                        <div class="card-body my-card-body">
                            <p class="card-text">kamera: {{drone.drone_camera}}</p>
                            <p class="card-text">zasięg: {{drone.drone_range}} m</p>
                            <p class="card-text">czas pracy: {{drone.drone_time_work}} min</p>
                            <h5 class="card-text">{{drone.drone_price}} zł</h5>
                        </div>
                    </div>
                </a>
            </div>
    </div>
    <div class="col-3">
            <div class="product" *ngFor="let laptop of laptopsRecomend">
                <a [routerLink]="['/laptop', laptop.laptop_id]">
                    <div class="card" style="width: 12rem;">
                        <h5 class="card-title">{{laptop.laptop_mark}}</h5>
                        <img src="../../../assets/img/laptop.jpg" class="card-img-top" alt="...">
                        <div class="card-body my-card-body">
                            <p class="card-text">procesor: {{laptop.laptop_processor}}</p>
                            <p class="card-text">pamięć: {{laptop.laptop_ram_size}} GB</p>
                            <p class="card-text">grafika: {{laptop.laptop_graphics_card}}</p>
                            <h5 class="card-text">{{laptop.laptop_price}} zł</h5>
                        </div>
                    </div>
                </a>
            </div>
    </div>
    <div class="col-3">
            <div class="product" *ngFor="let smartphone of smartphonesRecomend">
                <a [routerLink]="['/smartphone', smartphone.smartphone_id]">
                    <div class="card" style="width: 12rem;">
                        <h5 class="card-title">{{smartphone.smartphone_mark}}</h5>
                        <img src="../../../assets/img/nokia.jpg" class="card-img-top" alt="...">
                        <div class="card-body my-card-body">
                            <p class="card-text">ekran: {{smartphone.smartphone_screen_diagonal}}"</p>
                            <p class="card-text">system: {{smartphone.smartphone_system}}</p>
                            <p class="card-text">pamięć: {{smartphone.smartphone_disc_size}} GB</p>
                            <h5 class="card-text">{{smartphone.smartphone_price}} zł</h5>
                        </div>
                    </div>
                </a>
                 </div>
    </div>
</div>

<h2>Promocja</h2>
<div class="row">
    <div class="col-3">
        <div class="product" *ngFor="let drone of dronesPromotion">
            <a [routerLink]="['/drone', drone.drone_id]">
                <div class="card" style="width: 12rem;">
                    <h4 class="card-title">{{drone.drone_mark}}</h4>
                    <img src="../../../assets/img/drone.jpeg" class="card-img-top" alt="drone">
                    <div class="card-body my-card-body">
                        <p class="card-text">kamera: {{drone.drone_camera}}</p>
                        <p class="card-text">zasięg: {{drone.drone_range}} m</p>
                        <p class="card-text">czas pracy: {{drone.drone_time_work}} min</p>
                        <h5 class="card-text">{{drone.drone_price}} zł</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-3">
        <div class="product" *ngFor="let laptop of laptopsPromotion">
            <a [routerLink]="['/laptop', laptop.laptop_id]">
                <div class="card" style="width: 12rem;">
                    <h5 class="card-title">{{laptop.laptop_mark}}</h5>
                    <img src="../../../assets/img/laptop.jpg" class="card-img-top" alt="...">
                    <div class="card-body my-card-body">
                        <p class="card-text">procesor: {{laptop.laptop_processor}}</p>
                        <p class="card-text">pamięć: {{laptop.laptop_ram_size}} GB</p>
                        <p class="card-text">grafika: {{laptop.laptop_graphics_card}}</p>
                        <h5 class="card-text">{{laptop.laptop_price}} zł</h5>
                    </div>
                </div>
            </a>
        </div>
</div>

<div class="col-3">
    <div class="product" *ngFor="let smartphone of smartphonesPromotion">
        <a [routerLink]="['/smartphone', smartphone.smartphone_id]">
            <div class="card" style="width: 12rem;">
                <h5 class="card-title">{{smartphone.smartphone_mark}}</h5>
                <img src="../../../assets/img/nokia.jpg" class="card-img-top" alt="...">
                <div class="card-body my-card-body">
                    <p class="card-text">ekran: {{smartphone.smartphone_screen_diagonal}}"</p>
                    <p class="card-text">system: {{smartphone.smartphone_system}}</p>
                    <p class="card-text">pamięć: {{smartphone.smartphone_disc_size}} GB</p>
                    <h5 class="card-text">{{smartphone.smartphone_price}} zł</h5>
                </div>
            </div>
        </a>
         </div>
</div>
</div>