<div class="container-fluid">
  <div class="row">
      <div class="col-lg-12">
          <div class="wraper">
            <error-handler [errorHandler]="statusError"></error-handler>
            <ng-container *ngIf="auth.isAuthenticated && auth.role == 'ADMIN'">
            <div class="header">
              <h4>Produkty</h4>
              <a [routerLink]="['/add-product']">
                <span _ngcontent-jlm-c187="" class="material-icons">add_circle</span>
                Dodaj nowy produkt
              </a>
            </div>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Lp</th>
                        <th scope="col">Produkt</th>
                        <th scope="col">Ilość</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let p of product let i = index;">
                        <th scope="row">{{i+1}}</th>
                        <td>{{p.product_description}}</td>
                        <td>{{p.product_amount_available - p.product_amount_sold}} szt.</td>
                        <td><a [routerLink]="['/product', p.product_id]">
                              <span class="material-icons">chrome_reader_mode</span>
                              podgląd
                            </a>
                        </td>     
                      </tr>
                    </tbody>
                  </table>
            </ng-container>
          </div>
      </div>
  </div>
</div>


