<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-wraper">
                <h3>Zmiana adresu e-mail</h3>
                <ng-container *ngIf="auth.isAuthenticated">
                    <ng-container *ngIf="!passwordConfirm">
                        <div class="form">
                            <form [formGroup]="confirmPasswordForm" (submit)="confirmPassword()">
                                <ng-container *ngIf="valid">
                                    <div class="alert alert-danger" role="alert">
                                        Wypełnij puste pole
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="!correctPassword">
                                    <div class="alert alert-danger" role="alert">
                                        Niepoprawne hasło
                                    </div>
                                </ng-container>
                                <div class="form-group">
                                    <label for="Password">Podaj hasło do swojego konta</label>
                                    <input type="password" class="form-control" formControlName="password">
                                    <validation-feedback [control]="confirmPasswordForm.get('password')"></validation-feedback>
                                </div>
                                <input type="submit" class="btn btn-success" value="Dalej">
                            </form>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="passwordConfirm">
                        <ng-container *ngIf="saveNewEmail">
                            <div class="alert alert-success" role="alert">
                                Hasło zostało zmienione<br>
                                <a class="btn btn-secondary" [routerLink]="['/profile']">Dalej</a>  
                            </div>
                            
                        </ng-container>
                        <ng-container *ngIf="!saveNewEmail">
                            <ng-container *ngIf="!saveEmail">
                                <div class="form">
                                    <form [formGroup]="changeEmailForm" (submit)="changeEmail()">
                                        <ng-container *ngIf="valid">
                                            <div class="alert alert-danger" role="alert">
                                                Wypełnij puste pole
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="!correctChangeEmail">
                                            <div class="alert alert-danger" role="alert">
                                                Email jest już zajęty
                                            </div>
                                        </ng-container>
                                        <div class="form-group">
                                            <label for="Password">Podaj nowy email</label>
                                            <input type="text" class="form-control" formControlName="email">
                                            <validation-feedback [control]="changeEmailForm.get('email')"></validation-feedback>
                                        </div>
                                        <input type="submit" class="btn btn-success" value="Zapisz">
                                    </form>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="saveEmail">
                                <div class="alert alert-success" role="alert">
                                    Email został zmieniony<br>
                                    <a class="btn btn-secondary" [routerLink]="['/profile']">Dalej</a>  
                                </div>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
</div>








