<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
          <div class="wraper">
              <h4>Zamówienia</h4>
              <ng-container *ngIf="auth.isAuthenticated && auth.role == 'ADMIN'">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Lp</th>
                        <th scope="col">Numer</th>
                        <th scope="col">Data</th>
                        <th scope="col">Status</th>
                        <th scope="col">Wartość</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let order of orders let i = index;">
                        <th scope="row">{{i+1}}</th>
                        <td>{{order.orders_number}}</td>
                        <td>{{order.orders_date_time | date: 'yyyy-MM-dd HH:mm'}}</td>
                        <td>{{order.orders_status}}</td>
                        <td>{{order.orders_payments_sum}} zł</td>
                        <td>
                          <a (click)="goOrder(order)">
                            <span _ngcontent-hnf-c197="" class="material-icons">assignment</span>
                            szczegóły
                          </a>
                        </td>        
                      </tr>
                    </tbody>
                  </table>
            </ng-container>
          </div>
      </div>
    </div>
</div>


