
<ng-container *ngIf="auth.isAuthenticated">
    <div class="form" *ngIf='editedUser'>
        <ng-container *ngIf="saved">
            <div class="alert alert-success" role="alert">
                Zmiany zostały zapisane
              </div>
        </ng-container>
        <div class="alert alert-danger" *ngIf="message">{{message}}</div>
        <form [formGroup]="editUserForm" (submit)="edit()">
            
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" class="form-control" [(ngModel)]="editedUser.user_email" formControlName="user_email">
            </div>
        
            <div class="form-group">
                <label for="Password">Hasło</label>
                <input type="text" class="form-control" [(ngModel)]="editedUser.user_password" formControlName="user_password">
            </div>
        
            <div class="form-group">
                <label for="Password2">Powtórz hasło</label>
                <input type="text" class="form-control" [(ngModel)]="editedUser.user_password" formControlName="user_password2">
            </div>
        
            <div class="form-group">
                <label for="FirstName">Imię</label>
                <input type="text" class="form-control" [(ngModel)]="editedUser.user_firstName" formControlName="user_firstName">
            </div>
        
            <div class="form-group">
                <label for="LastName">Nazwisko</label>
                <input type="text" class="form-control" [(ngModel)]="editedUser.user_lastName" formControlName="user_lastName">
            </div>
        
            <div class="form-group">
                <label for="PhoneNumber">Numer telefonu</label>
                <input type="text" class="form-control" [(ngModel)]="editedUser.user_phoneNumber" formControlName="user_phoneNumber">
            </div>
        
            <div class="form-group">
                <label for="ZipCode">Kod pocztowy</label>
                <input type="text" class="form-control" [(ngModel)]="editedUser.user_zipCode" formControlName="user_zipCode">
            </div>
        
            <div class="form-group">
                <label for="City">Miasto</label>
                <input type="text" class="form-control" [(ngModel)]="editedUser.user_city" formControlName="user_city">
            </div>
        
            <div class="form-group">
                <label for="Street">Ulica</label>
                <input type="text" class="form-control" [(ngModel)]="editedUser.user_street" formControlName="user_street">
            </div>
        
            <input *ngIf="!saved" type="submit" class="btn btn-danger mx-auto" value="zapisz">
            <a *ngIf="saved" class="btn btn-success" [routerLink]="['/profile']">powrót</a>
        </form>    
    </div>

</ng-container>
 