<h3>Reset hasła</h3>
<ng-container *ngIf="auth.isAuthenticated">
    <ng-container *ngIf="saveNewPassword">
        <div class="alert alert-success" role="alert">
            Hasło zostało zmienione<br>
            <a class="btn btn-info" [routerLink]="['/profile']">ok</a>  
          </div>
          
    </ng-container>
    
    <ng-container *ngIf="!saveNewPassword">
        <div class="alert alert-danger" *ngIf="message">{{message}}</div>
        <div class="form">
            <form [formGroup]="changePasswordForm" (submit)="changePassword()">
                <ng-container *ngIf="valid">
                    <div class="alert alert-danger" role="alert">
                         Wypełnij poprawnie wszystkie pola
                    </div>
                </ng-container>
            
    
                <div class="form-group">
                    <label for="Password">Hasło</label>
                    <input type="text" class="form-control" formControlName="password">
                    <validation-feedback [control]="changePasswordForm.get('password')"></validation-feedback>
                </div>
    
                <div class="form-group">
                    <label for="Password2">Powtórz hasło</label>
                    <input type="text" class="form-control" formControlName="password_repeat">
                    <validation-feedback [control]="changePasswordForm" ></validation-feedback>
                </div>
    
        
                <input type="submit" class="btn btn-danger input100-submit" value="wyślij">
            </form>
        </div>
    
    </ng-container>
</ng-container>






