<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-wraper">
                <h3>Zmiana hasła</h3>
                <ng-container *ngIf="auth.isAuthenticated">
                    <ng-container *ngIf="!passwordConfirm">
                        <div class="form">
                            <form [formGroup]="confirmPasswordForm" (submit)="confirmPassword()">
                                <ng-container *ngIf="valid">
                                    <div class="alert alert-danger" role="alert">
                                        Wypełnij puste pole
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="!correctPassword">
                                    <div class="alert alert-danger" role="alert">
                                        Niepoprawne hasło
                                    </div>
                                </ng-container>
                                <div class="form-group">
                                    <label for="Password">Podaj aktualne hasło do swojego konta</label>
                                    <input type="password" class="form-control" formControlName="password">
                                    <validation-feedback [control]="confirmPasswordForm.get('password')"></validation-feedback>
                                </div>
                                <input type="submit" class="btn btn-success" value="Wyślij">
                            </form>
                        </div>
                    </ng-container>

                     <ng-container *ngIf="passwordConfirm">
                        <ng-container *ngIf="saveNewPassword">
                            <div class="alert alert-success" role="alert">
                                Hasło zostało zapisane.<br>
                                <a class="btn btn-secondary" [routerLink]="['/profile']">Dalej</a>  
                            </div>
                        </ng-container>
        
                        <ng-container *ngIf="!saveNewPassword">
                            <div class="form">
                                <form [formGroup]="changePasswordForm" (submit)="changePassword()">
                                    <ng-container *ngIf="valid">
                                        <div class="alert alert-danger" role="alert">
                                            Wypełnij poprawnie wszystkie pola
                                        </div>
                                    </ng-container>
                                    <div class="form-group">
                                        <label for="Password">Hasło</label>
                                        <input type="password" class="form-control" formControlName="password">
                                        <validation-feedback [control]="changePasswordForm.get('password')"></validation-feedback>
                                    </div>
                                    <div class="form-group">
                                        <label for="Password2">Powtórz hasło</label>
                                        <input type="password" class="form-control" formControlName="password_repeat">
                                        <validation-feedback [control]="changePasswordForm" ></validation-feedback>
                                    </div>
                                    <input type="submit" class="btn btn-success" value="Zapisz">
                                </form>
                            </div>
                        </ng-container>
                    </ng-container>
            </ng-container>
            </div>
        </div>
    </div>
</div>







