<div class="container-fluid">
    <div class="row">
            <div class="col-md-6">
                <h4>Wybraliśmy dla Ciebie</h4>
                <a [routerLink]="['/product', 4]">
                    <div class="img">
                        <img src="../../../assets/img/product-full/nokia-smartphone-517-433.jpg">
                    </div>
                    <div class="content">
                        <div class="desc">Nokia 32GB RAM</div>
                        <div class="price">2345 zł</div>
                    </div>
                </a>

            </div>
            <div class="col-md-6">
                <div class="spec-wrap">
                    <div class="logo">
                        <a [routerLink]="['/product', 4]">
                            <img src="../../../assets/img/logo/nokia-logo.png">
                        </a>
                    </div>
                    <div class="header">
                        <h5>Specyfikacja</h5>
                        <a [routerLink]="['/product', 4]">
                            <table class="table table-striped">
                                <tbody>
                                  <tr>
                                    <td>System</td>
                                    <td>Android</td>
                                  </tr>
                                  <tr>
                                    <td>Przeątna ekranu</td>
                                    <td>4.7"</td>
                                  </tr>
                                  <tr>
                                    <td>Kamera</td>
                                    <td>20 Mpix</td>
                                  </tr>
                                  <tr>
                                    <td>Rozmiar dysku</td>
                                    <td>126 GB</td>
                                  </tr>
                                  <tr>
                                    <td>Pamięć RAM</td>
                                    <td>32 GB</td>
                                  </tr>
                                </tbody>
                              </table>
                        </a>
                    </div>                    
                </div>
            </div>
    </div>
</div>