.img img{
    max-width: 80%;
    height: auto;
}

.logo{
    text-align: center;
}

.logo img{
    max-width: 30%;
    height: auto;
    text-align: center;
}

.header {
    margin-top: -40px;
}

.spec-wrap tr:hover{
    background-color:#e6e6e6;
}

.content{
    width: 100%;
    text-align: center;
    color: #808080;
    font-size: 18px;
}

a:hover{
    text-decoration: none;
}

.content:hover{
    color: #404040;
}