<div class="page-content">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">x-tom</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" (click)="tab = '' ">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="tab = 'products' ">Produkty</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="tab = 'drone'">Drony</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="tab = 'laptop'">Laptopy</a>
        </li>
         
        <li class="nav-item">
          <a class="nav-link" (click)="tab = 'smartphone'">Smartfony</a>
        </li>

        <ng-container *ngIf="auth.isAuthenticated">
          <li class="nav-item">
            <a class="nav-link" (click)="tab = 'profile' ">Profil</a>
          </li>
        </ng-container>
        
        
        <ng-container *ngIf="!auth.isAuthenticated">
          <li class="nav-item">
            <a class="nav-link" (click)="tab = 'login' ">Login</a>
          </li>
        </ng-container>
        
      </ul>
    </div>

    <span class="navbar-text" *ngIf="auth.isAuthenticated">
      <profile-bar></profile-bar>
    </span>
  </nav>
    
      <div class="col-10 mx-auto" *ngIf="tab == 'login' ">
        <login></login>      
      </div>
      
      <div class="col-10 mx-auto" *ngIf="tab == '' ">
        <h4>Welcome</h4>
      </div>

      <div class="col-10 mx-auto" *ngIf="tab == 'profile' ">
        <profile></profile>
      </div>
      
     <div class="col-10 mx-auto" *ngIf="tab == 'products' ">
       <div class="row">
        <ng-container *ngIf="auth.isAuthenticated">
          <div class="col-4">
            <add-product></add-product>
          </div>
        </ng-container>
        
          <div class="col-8">
            <products></products>
          </div>
 
       </div>
      
     </div> 
     
     <div class="col-10 mx-auto" *ngIf="tab == 'drone' ">
      <h1>Tu DRONY</h1>
      <drone></drone>
    </div>

    <div class="col-10 mx-auto" *ngIf="tab == 'laptop' ">
      <h1>Tu Laptopy</h1>
      <laptop></laptop>
    </div>

    <div class="col-10 mx-auto" *ngIf="tab == 'smartphone' ">
      <h1>Tu smartphone</h1>
      <smartphone></smartphone>
    </div>
    
</div>