a{
    color: #000000;
    text-decoration: none;   
   }
   
   a:hover{
   color: green;
   }
   
   .laptop{
       margin-bottom: 10px;
   }

   .card{
    padding: 10px;
}

.card:hover{
    border: 1px solid green;
}