<div class="form-wraper">
    <ng-container *ngIf="valid">
        <div class="alert alert-danger" role="alert">
            Wypełnij poprawnie wszystkie pola
          </div>
    </ng-container>

    <form [formGroup]="addOrderForm" (submit)="saveOrderSummary()">
        <h4>Dostawa i płatność</h4>
        <p>1.Sposób dostawy</p>
        <div class="form-group ">
            <select class="form-control" formControlName="orders_delivery_method">
                <option value="kurier">Dostawa kurierem</option>
                <option value="osobisty">Odbiór osobisty</option>
            </select>
            <validation-order-address [control]="addOrderForm.get('orders_delivery_method')"></validation-order-address>
        </div>

    <p>2.Metoda płatności</p>
        <div class="form-group ">
            <select class="form-control" formControlName="orders_payments_method">
                <option value="przy odbiorze">Przy odbiorze</option>
                <option value="przelew gotówkowy">Przelew gotówkowy</option>
            </select>
            <validation-order-address [control]="addOrderForm.get('orders_payments_method')"></validation-order-address>
        </div>

    <p>3.Dane odbiorcy</p>
        <div class="form-group">
            <ng-container *ngIf="user">
                <input type="text" class="form-control" [(ngModel)]="user.user_firstName" formControlName="orders_firstName" placeholder="Imię">
            </ng-container>
            <ng-container *ngIf="!user">
                <input type="text" class="form-control" formControlName="orders_firstName" placeholder="Imię">
            </ng-container>
            <validation-order-address [control]="addOrderForm.get('orders_firstName')"></validation-order-address>
        </div>

        <div class="form-group">
            <ng-container *ngIf="user">
                <input type="text" class="form-control" [(ngModel)]="user.user_lastName" formControlName="orders_lastName" placeholder="Nazwisko">
            </ng-container>
            <ng-container *ngIf="!user">
                <input type="text" class="form-control" formControlName="orders_lastName" placeholder="Nazwisko">
            </ng-container>
            <validation-order-address [control]="addOrderForm.get('orders_lastName')"></validation-order-address>
        </div>

        <div class="form-group">
            <ng-container *ngIf="user">
                <input type="text" class="form-control" [(ngModel)]="user.user_street" formControlName="orders_street" placeholder="Ulica">
            </ng-container>
            <ng-container *ngIf="!user">
                <input type="text" class="form-control" formControlName="orders_street" placeholder="Ulica">
            </ng-container>
            <validation-order-address [control]="addOrderForm.get('orders_street')"></validation-order-address>
        </div>

        <div class="form-group">
            <ng-container *ngIf="user">
                <input type="text" class="form-control" [(ngModel)]="user.user_zipCode" formControlName="orders_zipCode" placeholder="Kod pocztowy [xx-xxx]">
            </ng-container>
            <ng-container *ngIf="!user">
                <input type="text" class="form-control" formControlName="orders_zipCode" placeholder="Kod pocztowy [xx-xxx]">
            </ng-container>
            <validation-order-address [control]="addOrderForm.get('orders_zipCode')"></validation-order-address>
        </div>

        <div class="form-group">
            <ng-container *ngIf="user">
                <input type="text" class="form-control" [(ngModel)]="user.user_city" formControlName="orders_city" placeholder="Miasto">
            </ng-container>
            <ng-container *ngIf="!user">
                <input type="text" class="form-control" formControlName="orders_city" placeholder="Miasto">
            </ng-container>
            <validation-order-address [control]="addOrderForm.get('orders_city')"></validation-order-address>
        </div>

        <div class="form-group">
            <ng-container *ngIf="user">
                <input type="text" class="form-control" [(ngModel)]="user.user_email" formControlName="orders_email" placeholder="E-mail">
            </ng-container>
            <ng-container *ngIf="!user">
                <input type="text" class="form-control" formControlName="orders_email" placeholder="E-mail">
            </ng-container>
            <validation-order-address [control]="addOrderForm.get('orders_email')"></validation-order-address>
        </div>

        <div class="form-group">
            <ng-container *ngIf="user">
                <input type="text" class="form-control" [(ngModel)]="user.user_phoneNumber" formControlName="orders_phoneNumber" placeholder="Numer telefonu">
            </ng-container>
            <ng-container *ngIf="!user">
                <input type="text" class="form-control" formControlName="orders_phoneNumber" placeholder="Numer telefonu">
            </ng-container>
            <validation-order-address [control]="addOrderForm.get('orders_phoneNumber')"></validation-order-address>
        </div>

        <input value="zapisz" type="submit" value="kupuję i płacę" class="btn btn-success">
    </form>
</div>

    

  