.validation-feedback {
    color: red;
  }

h4{
  color: black;
  font-size: 32px;
  font-weight: 700;
}

p{
  color: black;
  font-size: 26px;
  font-weight: 700;
}

form {
  width: 70%;
  margin: 0 auto;
}

form input{
  border-radius: 26px;
}

form input:last-child{
  margin-bottom: 60px;
}

@media (max-width: 614px){
  form {
    width: 100%;
  }

  .form-wraper{
    margin-top: 30px;
  }

  h4{
    color: black;
    font-size: 26px;
    font-weight: 600;
  }
  
  p{
    color: black;
    font-size: 18px;
    font-weight: 400;
  }

}