<h2>DRONY</h2>

<ng-container *ngIf="auth.isAuthenticated">
    <div class="row">
        <add-drone></add-drone>
    </div>    
</ng-container>

<div class="row">
        <div *ngFor="let drone of droneList">
            <div class="col-4">
                <div class="drone">
                    <a href="{{drone.drone_id}}">
                        <div class="card" style="width: 12rem;">
                            <h5 class="card-title">{{drone.drone_mark}}</h5>
                            <img src="../../../assets/img/drone.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">{{drone.drone_description}}</p>
                                <p class="card-text">{{drone.drone_price}} zł</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
</div>
