<p>drone works!</p>
<div class="row">
    <ng-container *ngIf="auth.isAuthenticated">
        <div class="col-4">
          <add-drone></add-drone>
        </div>
      </ng-container>

    <div class="col-8">
        <div *ngFor="let drone of droneList">
            <div>
                <p>nazwa: <strong>{{drone.drone_mark}}</strong><span> opis: <strong>{{drone.drone_description}}</strong></span><span> cena: <strong>{{drone.drone_price}} zł</strong></span></p>
                
            </div>
        </div>
    </div>
</div>
