    <div class="form">
        <ng-container *ngIf="saved">
            <div class="alert alert-success" role="alert">
                Zapisano!!!
              </div>
        </ng-container>

        <ng-container *ngIf="valid">
            <div class="alert alert-danger" role="alert">
                Wypełnij poprawnie wymagane pola
              </div>
        </ng-container>

        <form class="contact100-form" [formGroup]="userForm" (submit)="saveUser()">
            <span class="contact100-form-title">
                Edycja użytkownika
            </span>
            
            <div class="form-group wrap-input100 rs1-wrap-input100">
                <label class="label-input100" for="FirstName">Imię</label>
                
                <ng-container *ngIf="user">
                    <input type="text" class="form-control" [(ngModel)]="user.user_firstName" formControlName="user_firstName">
                </ng-container>
                
                <ng-container *ngIf="!user">
                    <input type="text" class="form-control" formControlName="user_firstName">
                </ng-container>

                <div class="validation-feedback" *ngIf="userForm.get('user_firstName').getError('minlength') as error">
                    Musisz podać min {{error.requiredLength}} znaki
                </div>

            </div>
        
            <div class="form-group wrap-input100 rs1-wrap-input100">
                <label class="label-input100" for="LastName">Nazwisko</label>
                
                <ng-container *ngIf="user">
                    <input type="text" class="form-control" [(ngModel)]="user.user_lastName" formControlName="user_lastName">
                </ng-container>
                
                <ng-container *ngIf="!user">
                    <input type="text" class="form-control" formControlName="user_lastName">
                </ng-container>

                <div class="validation-feedback" *ngIf="userForm.get('user_lastName').getError('minlength') as error">
                    Musisz podać min {{error.requiredLength}} znaki
                </div>

            </div>
            
            <div class="form-group wrap-input100 rs1-wrap-input100">
                <label class="label-input100" for="PhoneNumber">Numer telefonu</label>

                <ng-container *ngIf="user">
                    <input type="text" class="form-control" [(ngModel)]="user.user_phoneNumber" formControlName="user_phoneNumber">
                </ng-container>
                
                <ng-container *ngIf="!user">
                    <input type="text" class="form-control" formControlName="user_phoneNumber">
                </ng-container>

                <div class="validation-feedback" *ngIf="userForm.get('user_phoneNumber').hasError('pattern')">
                    Musisz podać liczby
                </div>

            </div>
        
            <div class="form-group wrap-input100 rs1-wrap-input100">
                <label class="label-input100" for="ZipCode">Kod pocztowy</label>

                <ng-container *ngIf="user">
                    <input type="text" class="form-control" [(ngModel)]="user.user_zipCode" formControlName="user_zipCode">
                </ng-container>
                
                <ng-container *ngIf="!user">
                    <input type="text" class="form-control" formControlName="user_zipCode">
                </ng-container>

                <div class="validation-feedback" *ngIf="userForm.get('user_zipCode').hasError('pattern')">
                   Kod pocztowy w formacie [nn-nnn]
                </div>

            </div>
        
            <div class="form-group wrap-input100 rs1-wrap-input100">
                <label class="label-input100" for="City">Miasto</label>

                <ng-container *ngIf="user">
                    <input type="text" class="form-control" [(ngModel)]="user.user_city" formControlName="user_city">
                </ng-container>

                <ng-container *ngIf="!user">
                    <input type="text" class="form-control" formControlName="user_city">
                </ng-container>

                <div class="validation-feedback" *ngIf="userForm.get('user_city').hasError('pattern')">
                    Niepoprawny format
                </div>

            </div>
        
            <div class="form-group wrap-input100 rs1-wrap-input100">
                <label class="label-input100" for="Street">Ulica i numer</label>

                <ng-container *ngIf="user">
                    <input type="text" class="form-control" [(ngModel)]="user.user_street" formControlName="user_street">
                </ng-container>
                
                <ng-container *ngIf="!user">
                    <input type="text" class="form-control" formControlName="user_street">
                </ng-container>

            </div>

            <input *ngIf="!saved" value="zapisz" type="submit"  class="btn btn-danger input100-submit">
            <a *ngIf="saved && returnPath == 'user'"  class="btn btn-success input100-ok" [routerLink]="['/user', user.user_id]">powrót</a>
            <a *ngIf="saved && returnPath == 'profile'"  class="btn btn-success input100-ok" [routerLink]="['/profile']">powrót</a>
        </form>
    </div>



