<ng-container *ngIf="laptop | async as laptop">
    <div class="row">
        <div class="col-4">
            <img src="../../../assets/img/laptop.jpg" class="card-img-top" alt="laptop">
        </div>
        <div class="col-8">
            <div class="mark">
                <h2>{{laptop.laptop_mark}}</h2>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="parameters">
                        <p>dostępna ilość: {{laptop.laptop_amount_available}} szt</p>
                        <p>opis: {{laptop.laptop_description}}</p>
                        <p>system: {{laptop.laptop_system}}</p>
                        <p>procesor: {{laptop.laptop_processor}}</p>
                        <p>grafika: {{laptop.laptop_graphics_card}}</p>
                        <p>roździelczość ekranu: {{laptop.laptop_screen_diagonal}}</p>
                        <p>ram: {{laptop.laptop_ram_size}}</p>
                        <p>rodzaj dysku: {{laptop.laptop_disc_type}}</p>
                        <p>wielkość dysku: {{laptop.laptop_disc_size}} TB</p>
                    </div>
                </div>

                <div class="col-6">
                    <div class="basket">

                    </div>
                   <h3>{{laptop.laptop_price}} zł</h3>
                   <button type="button" class="btn btn-secondary">Dodaj do koszyka</button>
                   
                   <ng-container *ngIf="auth.isAuthenticated">
                    <div class="options">
                        <a class="btn btn-danger" href="/#/edit-laptop/{{laptop.laptop_id}}">Edytuj</a>
                    </div>
                    <div class="options">
                        <a class="btn btn-danger" href="/#/delete-laptop/{{laptop.laptop_id}}">Usuń</a>
                    </div>
               </ng-container>             
                </div>
            </div>
        </div>
    </div>
</ng-container>