<ng-container *ngIf="auth.isAuthenticated && auth.role == 'ADMIN'">
    <a class="btn btn-secondary" [routerLink]="['/add-product']">Dodaj produkt</a>
</ng-container>

<div class="container-fluid">
    <h4>Smartfony</h4>
    <div class="row">
        <div class="col-ms-3" *ngFor="let smartphone of smartphones">
            <div class="smartphone">
                <a [routerLink]="['/product', smartphone.product_id]">
                    <div class="card" style="width: 12rem;">
                        <img src="../../../../assets/img/recomend/{{smartphone.product_mark}}-{{smartphone.product_type}}-142-116.jpg" class="card-img-top" alt="smartphone">
                        <div class="card-body my-card-body">
                            <div class="description">
                                {{smartphone.product_description}}
                            </div>
                            <p class="card-text">ekran: {{smartphone.product_screen_diagonal}}"</p>
                            <p class="card-text">system: {{smartphone.product_system}}</p>
                            <p class="card-text">pamięć: {{smartphone.product_disc_size}} GB</p>
                            <h5 class="card-text">{{smartphone.product_price}} zł</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>    
</div>

<box-last-product></box-last-product>

<error-handler [errorHandler]="statusError"></error-handler>