<ng-container *ngIf="smartphone | async as smartphone">
    <div class="row">
        <div class="col-4">
            <img src="../../../assets/img/nokia.jpg" class="card-img-top" alt="smartphone">
        </div>
        <div class="col-8">
            <div class="mark">
                <h2>{{smartphone.smartphone_mark}}</h2>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="parameters">
                        <p>dostępna ilość: {{smartphone.smartphone_amount_available}} szt</p>
                        <p>opis: {{smartphone.smartphone_description}}</p>
                        <p>system: {{smartphone.smartphone_system}}</p>
                        <p>ekran: {{smartphone.smartphone_screen_diagonal}}"</p>
                        <p>kamera: {{smartphone.smartphone_camera_resolution}} Mpix"</p>
                        <p>dysk: {{smartphone.smartphone_disc_size}} GB</p>
                        <p>ram: {{smartphone.smartphone_ram_size}} GB</p>
                    </div>
                </div>

                <div class="col-6">
                    <div class="basket">

                    </div>
                   <h3>{{smartphone.smartphone_price}} zł</h3>
                   <button type="button" class="btn btn-secondary">Dodaj do koszyka</button>

                   <ng-container *ngIf="auth.isAuthenticated && auth.role == 'ADMIN'">
                    <div class="options">
                        <a class="btn btn-danger" [routerLink]="['/edit-smartphone', smartphone.smartphone_id]">Edytuj</a>
                    </div>
                    <div class="options">
                        <a class="btn btn-danger" [routerLink]="['/delete-smartphone', smartphone.smartphone_id]">Usuń</a>
                    </div>
               </ng-container>      
                </div>
            </div>
        </div>
    </div>
</ng-container>
