<ng-container *ngIf="typeProduct == 'drone'">
    <h3>Edycja drona</h3>
    <drone-form [getProduct]="editedProduct" (saveProduct)="updateProduct($event)"></drone-form>
</ng-container>

<ng-container *ngIf="typeProduct == 'laptop'">
    <h3>Edycja laptopa</h3>
    <laptop-form [getProduct]="editedProduct" (saveProduct)="updateProduct($event)"></laptop-form>
</ng-container>

<ng-container *ngIf="typeProduct == 'smartphone'">
    <h3>Edycja smartfona</h3>
    <smartphone-form [getProduct]="editedProduct" (saveProduct)="updateProduct($event)"></smartphone-form>
</ng-container>