<ng-container *ngIf="auth.isAuthenticated && auth.role == 'ADMIN'">
    <div class="alert alert-danger" *ngIf="error">{{error}}</div>

    <div class="alert alert-success" role="alert" *ngIf="save">
        Zapisano
      </div>

<div class="form">
    <form class="contact100-form" [formGroup]="addLaptopForm" (submit)="addLaptop()">
        <span class="contact100-form-title">
            Dodaj laptop
        </span>
        <div class="form-group wrap-input100 rs1-wrap-input100">
            <label class="label-input100" for="Name">Producent</label>
            <select class="input100" class="form-control" formControlName="laptop_mark">
                <option>Lenovo</option>
                <option>HP</option>
                <option>Dell</option>
                <option>ASUS</option>
                <option>ACER</option>
                <option>MSI</option>
                <option>APPLE</option>
                <option>HUAWEI</option>
                <option>MICROSOFT</option>
            </select>
        </div>
        
        <div class="form-group wrap-input100 rs1-wrap-input100">
            <label class="label-input100" for="Price">Cena</label>
            <input class="input100" type="text" class="form-control" formControlName="laptop_price">
        </div>

        <div class="form-group wrap-input100 rs1-wrap-input100">
            <label class="label-input100" for="Status">Status</label>
            <select class="input100" class="form-control" formControlName="laptop_status">
                <option>promocja</option>
                <option>wyprzedaż</option>
                <option>nowość</option>
                <option>polecamy</option>
                <option>przedłużona gwarancja</option>
            </select>
        </div>
    
        <div class="form-group wrap-input100 rs1-wrap-input100">
            <label class="label-input100" for="System">System operacyjny</label>
            <select class="input100" class="form-control" formControlName="laptop_system">
                <option>Windows 10</option>
                <option>macOS</option>
                <option>Ubuntu</option>
                <option>brak systemu</option>
            </select>
        </div>
    
        <div class="form-group wrap-input100 rs1-wrap-input100">
            <label class="label-input100" for="Processor">Processor</label>
            <select class="input100" class="form-control" formControlName="laptop_processor">
                <option>Intel Core i3</option>
                <option>Intel Core i5</option>
                <option>Intel Core i7</option>
                <option>Intel Core i9</option>
                <option>Intel Pentium</option>
                <option>AMD Ryzen 5</option>
                <option>AMD Ryzen 7</option>
            </select>
        </div>
    
        <div class="form-group wrap-input100 rs1-wrap-input100">
            <label class="label-input100" for="Ram">Pamięć RAM</label>
            <input class="input100" type="text" class="form-control" formControlName="laptop_ram_size">
        </div>
    
        <div class="form-group wrap-input100 rs1-wrap-input100">
            <label class="label-input100" for="DyskType">Rodzaj dysku</label>
            <select class="input100" class="form-control" formControlName="laptop_disc_type">
                <option>SSD</option>
                <option>HDD</option>
            </select>
        </div>
    
        <div class="form-group wrap-input100 rs1-wrap-input100">
            <label class="label-input100" for="DyskSize">Rozmiar dysku</label>
            <input class="input100" type="text" class="form-control" formControlName="laptop_disc_size">
        </div>
    
        <div class="form-group wrap-input100 rs1-wrap-input100">
            <label class="label-input100" for="GraphicsCard">Karta graficzna</label>
            <select class="input100" class="form-control" formControlName="laptop_graphics_card">
                <option>Zintegrowana Intel</option>
                <option>DEDYKOWANA NVIDIA Geforce</option>
                <option>Zintegrowana AMD</option>
                <option>DEDYKOWANA AMD</option>
            </select>
        </div>
    
        <div class="form-group wrap-input100 rs1-wrap-input100">
            <label class="label-input100" for="ScreenDiagonal">Przekątna ekranu</label>
            <select class="input100" class="form-control" formControlName="laptop_screen_diagonal">
                <option>11.6</option>
                <option>12.5</option>
                <option>13.3</option>
                <option>13.9</option>
                <option>14.0</option>
                <option>14.1</option>
                <option>15.0</option>
                <option>15.4</option>
                <option>15.6</option>
                <option>16</option>
                <option>17</option>
                <option>17.3</option>
            </select>
        </div>
    
        <div class="form-group wrap-input100 rs1-wrap-input100">
            <label class="label-input100" for="Amount">Dostępna ilość</label>
            <input class="input100" type="text" class="form-control" formControlName="laptop_amount_available">
        </div>
        
        <div class="form-group wrap-input100">
            <label class="label-input100" for="Descripton">Opis</label>
            <textarea class="input100" rows="4" cols="50" class="form-control" formControlName="laptop_description"> </textarea>
        </div>

        <input *ngIf="!save" type="submit" class="btn btn-danger" value="zapisz">
        <a *ngIf="save" class="btn btn-success" [routerLink]="['/laptops']">powrót</a>
    </form>
    
</div>

</ng-container>

