<ng-container *ngIf="!auth.isAuthenticated">
    <h3>Logowanie</h3>
<div class="alert alert-danger" *ngIf="message">{{message}}</div>
<form [formGroup]="loginForm" (submit)="login()">
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="text" class="form-control" formControlName="user_email">
    </div>

    <div class="form-group">
        <label for="Password">Hasło</label>
        <input type="text" class="form-control" formControlName="user_password">
    </div>

    <input type="submit" class="btn btn-danger mx-auto" value="zaloguj">
</form>
</ng-container>


<ng-container *ngIf="auth.isAuthenticated">
    <div class="alert alert-success" role="alert">
        <h3>Zalogowano</h3>
        <button class="btn btn-info" [routerLink]="['/']">Przejdz do strony głównej</button>
      </div>
</ng-container>
