<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="wraper">
                <ng-container *ngIf="auth.isAuthenticated && auth.role == 'ADMIN'">

                    <ng-container *ngIf="!remove">
                        <p>
                            Czy napewo chcesz usunąć wybrany product?
                        </p>
                        
                        <button class="btn btn-secondary" [routerLink]="['/product', id]">Nie</button>
                        <button type="button" class="btn btn-secondary" (click)="delete()">Tak</button>
                    </ng-container>
                
                    <ng-container *ngIf="remove">
                        <div class="alert alert-success" role="alert">
                            Usunięto
                          </div>
                        <a class="btn btn-success" [routerLink]="['/']">Ok</a>
                    </ng-container>
                </ng-container>
                
                <ng-container *ngIf="!auth.isAuthenticated">
                    <div class="alert alert-warning" role="alert">
                        <h3>Nie jesteś zalogowany</h3>
                        <button class="btn btn-info" [routerLink]="['/login']">Zaloguj</button>
                      </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>

