
<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/img/slider/banner_1.jpg">
    </div>
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/img/slider/banner_2.jpg">
    </div>
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/img/slider/banner_3.jpg">
    </div>
    <div class="carousel-caption">
    </div>
  </ng-template>
</ngb-carousel>