.wraper{
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    -webkit-box-shadow: 1px 2px 5px 1px rgba(128, 26, 0,0.75);
    -moz-box-shadow: 1px 2px 5px 1px rgba(128, 26, 0,0.75);
    box-shadow: 1px 2px 5px 1px rgba(128, 26, 0,0.75);
    text-align: center;
}

p{
    color: black;
    font-size: 18px;
    font-weight: 300;
}

button{
    margin: 3px;
}