<ng-container *ngIf="auth.isAuthenticated && auth.role == 'ADMIN'">
    <div class="alert alert-danger" *ngIf="error">{{error}}</div>

    <div class="alert alert-success" role="alert" *ngIf="save">
        Zapisano
      </div>
<div class="form">
    <form class="contact100-form" [formGroup]="addDroneForm" (submit)="addDrone()">
        <span class="contact100-form-title">
            Dodaj drona
        </span>
        <div class="form-group wrap-input100 rs1-wrap-input100">
            <label class="label-input100" for="Name">Producent</label>
            <input class="input100" type="Mark" class="form-control" formControlName="drone_mark" required>
        </div>
    
        <div class="form-group wrap-input100 rs1-wrap-input100">
            <label class="label-input100" for="Price">Cena</label>
            <input class="input100" type="text" class="form-control" formControlName="drone_price">
        </div>
    
        <div class="form-group wrap-input100 rs1-wrap-input100">
            <label class="label-input100" for="Status">Status</label>
            <select class="form-control" formControlName="drone_status">
                <option>promocja</option>
                <option>wyprzedaż</option>
                <option>nowość</option>
                <option>polecamy</option>
                <option>przedłużona gwarancja</option>
            </select>
        </div>
    
        <div class="form-group wrap-input100 rs1-wrap-input100">
            <label class="label-input100" for="Time">Czas pracy</label>
            <input class="input100" type="text" class="form-control" formControlName="drone_time_work">
        </div>
    
        <div class="form-group wrap-input100 rs1-wrap-input100">
            <label class="label-input100" for="Range">Zasięg</label>
            <input class="input100" type="text" class="form-control" formControlName="drone_range">
        </div>
    
        <div class="form-group wrap-input100 rs1-wrap-input100">
            <label class="label-input100" for="Kamera">Kamera</label>
            <select class="form-control" formControlName="drone_camera" required>
                <option>tak</option>
                <option>nie</option>
            </select>
        </div>
    
        <div class="form-group wrap-input100 rs1-wrap-input100">
            <label class="label-input100" for="Amount">Dostępna ilość</label>
            <input class="input100" type="text" class="form-control" formControlName="drone_amount_available">
        </div>
    
        <div class="form-group wrap-input100">
            <label class="label-input100" for="Descripton">Opis</label>
            <textarea class="input100" rows="4" cols="50" class="form-control" formControlName="drone_description"> </textarea>
        </div>
        
        <input *ngIf="!save" value="zapisz" type="submit" class="btn btn-danger">
        <a *ngIf="save" class="btn btn-success" [routerLink]="['/drones']">powrót</a>
    </form>
</div>


</ng-container>

