<ng-container *ngIf="auth.isAuthenticated && auth.role == 'ADMIN'">
    <a class="btn btn-secondary" [routerLink]="['/add-laptop']">Dodaj laptop</a>
</ng-container>
<div class="row">
    <div *ngFor="let laptop of laptops">
        <div class="col-4">
            <div class="laptop">
                <a [routerLink]="['/product', laptop.product_id]">
                    <div class="card" style="width: 12rem;">
                        <h5 class="card-title">{{laptop.product_mark}}</h5>
                        <img src="../../../assets/img/laptop.jpg" class="card-img-top" alt="laptop">
                        <div class="card-body my-card-body">
                            <p class="card-text">procesor: {{laptop.product_processor}}</p>
                            <p class="card-text">pamięć: {{laptop.product_ram_size}} GB</p>
                            <p class="card-text">grafika: {{laptop.product_graphics_card}}</p>
                            <h5 class="card-text">{{laptop.product_price}} zł</h5>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>
